In [1]:
import pandas as pd

In [2]:
gamesdf = pd.read_csv('../../data/games.csv')

In [3]:
gamesdf.head()

,Unnamed: 0,content.link,date,gameDate,gamePk,gameType,link,season,status.abstractGameState,status.codedGameState,...,teams.home.leagueRecord.type,teams.home.leagueRecord.wins,teams.home.score,teams.home.team.id,teams.home.team.link,teams.home.team.name,totalGames,venue.id,venue.link,venue.name
0,0,/api/v1/game/2007020003/content,2007-10-03,2007-10-03T23:00:00Z,2007020003,R,/api/v1/game/2007020003/feed/live,20072008,Final,7,...,league,0,2,12,/api/v1/teams/12,Carolina Hurricanes,4,NaN,/api/v1/venues/null,RBC Center
1,1,/api/v1/game/2007020004/content,2007-10-03,2007-10-03T23:00:00Z,2007020004,R,/api/v1/game/2007020004/feed/live,20072008,Final,7,...,league,1,3,17,/api/v1/teams/17,Detroit Red Wings,4,5047.0,/api/v1/venues/5047,Joe Louis Arena
2,2,/api/v1/game/2007020005/content,2007-10-03,2007-10-03T23:30:00Z,2007020005,R,/api/v1/game/2007020005/feed/live,20072008,Final,7,...,league,0,3,10,/api/v1/teams/10,Toronto Maple Leafs,4,5015.0,/api/v1/venues/5015,Air Canada Centre
3,3,/api/v1/game/2007020006/content,2007-10-03,2007-10-04T01:30:00Z,2007020006,R,/api/v1/game/2007020006/feed/live,20072008,Final,7,...,league,1,4,21,/api/v1/teams/21,Colorado Avalanche,4,5064.0,/api/v1/venues/5064,Pepsi Center
4,4,/api/v1/game/2007020007/content,2007-10-04,2007-10-04T23:00:00Z,2007020007,R,/api/v1/game/2007020007/feed/live,20072008,Final,7,...,league,1,5,3,/api/v1/teams/3,New York Rangers,8,5054.0,/api/v1/venues/5054,Madison Square Garden

In [4]:
gamesdf.describe(include='all')

,Unnamed: 0,content.link,date,gameDate,gamePk,gameType,link,season,status.abstractGameState,status.codedGameState,...,teams.home.leagueRecord.type,teams.home.leagueRecord.wins,teams.home.score,teams.home.team.id,teams.home.team.link,teams.home.team.name,totalGames,venue.id,venue.link,venue.name
count,16334.000000,16334,16334,16334,1.633400e+04,16334,16334,1.633400e+04,16334,16334.000000,...,16334,16334.000000,16334.000000,16334.000000,16334,16334,16334.000000,10053.000000,16334,16334
unique,NaN,16334,2714,10261,NaN,4,16334,NaN,1,NaN,...,1,NaN,NaN,NaN,64,64,NaN,NaN,70,175
top,NaN,/api/v1/game/2014020475/content,2018-01-25,2015-11-15T00:00:00Z,NaN,R,/api/v1/game/2015020002/feed/live,NaN,Final,NaN,...,league,NaN,NaN,NaN,/api/v1/teams/5,Pittsburgh Penguins,NaN,NaN,/api/v1/venues/null,United Center
freq,NaN,1,15,9,NaN,14279,1,NaN,16334,NaN,...,16334,NaN,NaN,NaN,588,588,NaN,NaN,6281,562
mean,8166.500000,NaN,NaN,NaN,2.012555e+09,NaN,NaN,2.012736e+07,NaN,6.933452,...,NaN,18.050692,2.953104,26.445512,NaN,NaN,8.271213,5058.080076,NaN,NaN
std,4715.363984,NaN,NaN,NaN,3.485683e+06,NaN,NaN,3.486207e+04,NaN,0.249246,...,NaN,13.193189,1.683746,233.594159,NaN,NaN,3.391084,115.535663,NaN,NaN
min,0.000000,NaN,NaN,NaN,2.007020e+09,NaN,NaN,2.007201e+07,NaN,6.000000,...,NaN,0.000000,0.000000,1.000000,NaN,NaN,1.000000,3.000000,NaN,NaN
25%,4083.250000,NaN,NaN,NaN,2.009023e+09,NaN,NaN,2.009201e+07,NaN,7.000000,...,NaN,6.000000,2.000000,8.000000,NaN,NaN,6.000000,5034.000000,NaN,NaN
50%,8166.500000,NaN,NaN,NaN,2.013020e+09,NaN,NaN,2.013201e+07,NaN,7.000000,...,NaN,17.000000,3.000000,16.000000,NaN,NaN,9.000000,5059.000000,NaN,NaN
75%,12249.750000,NaN,NaN,NaN,2.016020e+09,NaN,NaN,2.016202e+07,NaN,7.000000,...,NaN,28.000000,4.000000,24.000000,NaN,NaN,11.000000,5081.000000,NaN,NaN
max,16333.000000,NaN,NaN,NaN,2.018041e+09,NaN,NaN,2.018202e+07,NaN,7.000000,...,NaN,59.000000,12.000000,7256.000000,NaN,NaN,15.000000,5268.000000,NaN,NaN

In [5]:
columns = ['date','season', 'teams.away.leagueRecord.losses', 'teams.away.leagueRecord.ot','teams.away.leagueRecord.wins', 'teams.away.score', 'teams.away.team.id', 'teams.home.leagueRecord.losses', 'teams.home.leagueRecord.ot', 'teams.home.leagueRecord.wins', 'teams.home.score', 'teams.home.team.id']

col_names = ['date','season', 'away_losses', 'away_ot', 'away_wins', 'away_score', 'away_id', 'home_losses', 'home_ot', 'home_wins', 'home_score', 'hometeam_id']

games = gamesdf[columns]
games.columns = col_names

games['away_gp'] = games['away_ot'] + games['away_wins'] + games['away_losses']
games['home_gp'] = games['home_ot'] + games['home_wins'] + games['home_losses']

games['away_points'] = games['away_ot'] + (games['away_wins']*2)
games['home_points'] = games['home_ot'] + (games['home_wins']*2)

games['away_ppg'] = games['away_points'] / games['away_gp']
games['home_ppg'] = games['home_points'] / games['home_gp']

games['home_vs_away_points_diffppg'] = games['home_ppg'] - games['away_ppg']

games['home_win'] = (games['home_score'] - games['away_score']> 0).astype('int')

games.dropna(subset = ['home_vs_away_points_diffppg'], inplace = True)

C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\athompson-leduc\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
games.head()

,date,season,away_losses,away_ot,away_wins,away_score,away_id,home_losses,home_ot,home_wins,home_score,hometeam_id,away_gp,home_gp,away_points,home_points,away_ppg,home_ppg,home_vs_away_points_diffppg,home_win
0,2007-10-03,20072008,0,0.0,1,3,8,0,1.0,0,2,12,1.0,1.0,2.0,1.0,2.0,1.0,-1.0,0
1,2007-10-03,20072008,1,1.0,1,2,24,0,0.0,1,3,17,3.0,1.0,3.0,2.0,1.0,2.0,1.0,1
2,2007-10-03,20072008,0,0.0,1,4,9,0,1.0,0,3,10,1.0,1.0,2.0,1.0,2.0,1.0,-1.0,0
3,2007-10-03,20072008,1,0.0,0,3,25,0,0.0,1,4,21,1.0,1.0,0.0,2.0,0.0,2.0,2.0,1
4,2007-10-04,20072008,1,0.0,0,2,13,0,0.0,1,5,3,1.0,1.0,0.0,2.0,0.0,2.0,2.0,1

In [8]:
games = games[['home_vs_away_points_diffppg','home_win']]

In [9]:
games.to_csv('../../data/model_input.csv')