In [1]:
import pandas as pd

In [3]:
gamesdf = pd.read_csv('../../data/games.csv')

In [4]:
gamesdf.head()

,Unnamed: 0,content.link,date,gameDate,gamePk,gameType,link,season,status.abstractGameState,status.codedGameState,...,teams.home.leagueRecord.type,teams.home.leagueRecord.wins,teams.home.score,teams.home.team.id,teams.home.team.link,teams.home.team.name,totalGames,venue.id,venue.link,venue.name
0,0,/api/v1/game/2016010053/content,2016-10-01,2016-10-01T19:00:00Z,2016010053,PR,/api/v1/game/2016010053/feed/live,20162017,Final,6,...,league,2,2,9,/api/v1/teams/9,Ottawa Senators,7,5031.0,/api/v1/venues/5031,Canadian Tire Centre
1,1,/api/v1/game/2016010051/content,2016-10-01,2016-10-01T23:00:00Z,2016010051,PR,/api/v1/game/2016010051/feed/live,20162017,Final,6,...,league,3,5,1,/api/v1/teams/1,New Jersey Devils,7,NaN,/api/v1/venues/null,Prudential Center
2,2,/api/v1/game/2016010052/content,2016-10-01,2016-10-01T23:00:00Z,2016010052,PR,/api/v1/game/2016010052/feed/live,20162017,Final,6,...,league,1,1,2,/api/v1/teams/2,New York Islanders,7,5186.0,/api/v1/venues/5186,Webster Bank Arena
3,3,/api/v1/game/2016010054/content,2016-10-01,2016-10-01T23:00:00Z,2016010054,PR,/api/v1/game/2016010054/feed/live,20162017,Final,6,...,league,2,3,4,/api/v1/teams/4,Philadelphia Flyers,7,5096.0,/api/v1/venues/5096,Wells Fargo Center
4,4,/api/v1/game/2016010050/content,2016-10-01,2016-10-02T00:00:00Z,2016010050,PR,/api/v1/game/2016010050/feed/live,20162017,Final,6,...,league,2,4,18,/api/v1/teams/18,Nashville Predators,7,5030.0,/api/v1/venues/5030,Bridgestone Arena

In [19]:
columns = ['date','season', 'teams.away.leagueRecord.losses', 'teams.away.leagueRecord.ot','teams.away.leagueRecord.wins', 'teams.away.score', 'teams.away.team.id', 'teams.home.leagueRecord.losses', 'teams.home.leagueRecord.ot', 'teams.home.leagueRecord.wins', 'teams.home.score', 'teams.home.team.id']

col_names = ['date','season', 'awayteam_losses', 'awayteam_ot', 'awayteam_wins', 'awayteam_score', 'awayteam_id', 'hometeam_losses', 'hometeam_ot', 'hometeam_wins', 'hometeam_score', 'hometeam_id']

gamesdf_slim = gamesdf[columns]
gamesdf_slim.columns = col_names

In [20]:
gamesdf_slim.head()

,date,season,awayteam_losses,awayteam_ot,awayteam_wins,awayteam_score,awayteam_id,hometeam_losses,hometeam_ot,hometeam_wins,hometeam_score,hometeam_id
0,2016-10-01,20162017,1,1.0,2,3,8,0,2.0,2,2,9
1,2016-10-01,20162017,1,0.0,2,4,3,2,0.0,3,5,1
2,2016-10-01,20162017,1,1.0,1,2,15,3,0.0,1,1,2
3,2016-10-01,20162017,1,1.0,2,4,6,2,1.0,2,3,4
4,2016-10-01,20162017,2,0.0,2,3,14,1,1.0,2,4,18