In [13]:
import requests
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [14]:
url = 'https://statsapi.web.nhl.com/api/v1/statTypes'
r = requests.get(url)
json_data = r.json()
stats_type = pd.DataFrame(json_data)
stats_type

                     displayName
0                     yearByYear
1                 yearByYearRank
2             yearByYearPlayoffs
3         yearByYearPlayoffsRank
4            careerRegularSeason
5                 careerPlayoffs
6                        gameLog
7                 playoffGameLog
8                         vsTeam
9                 vsTeamPlayoffs
10                    vsDivision
11            vsDivisionPlayoffs
12                  vsConference
13          vsConferencePlayoffs
14                       byMonth
15               byMonthPlayoffs
16                   byDayOfWeek
17           byDayOfWeekPlayoffs
18                   homeAndAway
19           homeAndAwayPlayoffs
20                       winLoss
21               winLossPlayoffs
22           onPaceRegularSeason
23     regularSeasonStatRankings
24           playoffStatRankings
25          goalsByGameSituation
26  goalsByGameSituationPlayoffs
27             statsSingleSeason
28     statsSingleSeasonPlayoffs

In [30]:
# prenons alors
url = 'https://statsapi.web.nhl.com/api/v1/standings?season=20032004'
#url = 'https://statsapi.web.nhl.com/api/v1/teams?expand=teams.stats'
r = requests.get(url)
json_data = r.json()
print(json_data.keys())

In [33]:
stats_all_raw.describe(include='all')

,id,name,link,abbreviation,teamName,locationName,firstYearOfPlay,shortName,officialSiteUrl,franchiseId,...,division_nameShort,division_link,division_abbreviation,conference_id,conference_name,conference_link,franchise_franchiseId,franchise_teamName,franchise_link,venue_id
count,31.000000,31,31,31,31,31,31,31,31,31.000000,...,31,31,31,31.000000,31,31,31.000000,31,31,27.000000
unique,NaN,31,31,31,31,30,17,31,31,NaN,...,4,4,4,NaN,2,2,NaN,31,31,NaN
top,NaN,Buffalo Sabres,/api/v1/teams/20,OTT,Jets,New York,1967,St Louis,http://www.philadelphiaflyers.com/,NaN,...,PAC,/api/v1/divisions/17,P,NaN,Eastern,/api/v1/conferences/6,NaN,Jets,/api/v1/franchises/1,NaN
freq,NaN,1,1,1,1,2,5,1,1,NaN,...,8,8,8,NaN,16,16,NaN,1,1,NaN
mean,18.903226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.419355,...,NaN,NaN,NaN,5.516129,NaN,NaN,22.419355,NaN,NaN,5067.296296
std,14.091025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.075628,...,NaN,NaN,NaN,0.508001,NaN,NaN,10.075628,NaN,NaN,37.382446
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,...,NaN,NaN,NaN,5.000000,NaN,NaN,1.000000,NaN,NaN,5019.000000
25%,8.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.500000,...,NaN,NaN,NaN,5.000000,NaN,NaN,15.500000,NaN,NaN,5036.500000
50%,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,...,NaN,NaN,NaN,6.000000,NaN,NaN,23.000000,NaN,NaN,5064.000000
75%,24.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.500000,...,NaN,NaN,NaN,6.000000,NaN,NaN,30.500000,NaN,NaN,5088.500000
max,54.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.000000,...,NaN,NaN,NaN,6.000000,NaN,NaN,38.000000,NaN,NaN,5178.000000

In [36]:
stats_all_raw = json_normalize(json_data["records"],record_path='teamRecords', sep = "_")
stats_all_raw.head()

,goalsAgainst,goalsScored,points,divisionRank,divisionL10Rank,divisionRoadRank,divisionHomeRank,conferenceRank,conferenceL10Rank,conferenceRoadRank,...,team_name,team_link,leagueRecord_wins,leagueRecord_losses,leagueRecord_ties,leagueRecord_ot,leagueRecord_type,streak_streakType,streak_streakNumber,streak_streakCode
0,186,229,101,1,4,2,2,3,10,5,...,Philadelphia Flyers,/api/v1/teams/4,40,21,15,6,league,ties,1,1
1,164,213,100,2,1,1,3,6,2,3,...,New Jersey Devils,/api/v1/teams/1,43,25,12,2,league,losses,1,L1
2,210,237,91,3,2,4,1,8,4,12,...,New York Islanders,/api/v1/teams/2,38,29,11,4,league,ties,1,1
3,250,206,69,4,5,3,4,13,15,11,...,New York Rangers,/api/v1/teams/3,27,40,7,8,league,wins,1,W1
4,303,190,58,5,3,5,5,15,7,14,...,Pittsburgh Penguins,/api/v1/teams/5,23,47,8,4,league,wins,2,W2

In [41]:
stats_all.describe()

,goalsAgainst,goalsScored,points,row,gamesPlayed,team_id,leagueRecord_wins,leagueRecord_losses,leagueRecord_ot,streak_streakNumber
count,30.000000,30.000000,30.000000,30.000000,30.0,30.000000,30.000000,30.000000,30.000000,30.000000
mean,223.966667,223.966667,92.200000,35.333333,82.0,17.733333,41.000000,30.800000,10.200000,1.866667
std,25.230637,25.016523,15.905757,8.449988,0.0,12.708762,8.415913,7.840654,3.407902,1.041661
min,189.000000,161.000000,54.000000,15.000000,82.0,1.000000,23.000000,22.000000,5.000000,1.000000
25%,208.500000,213.500000,89.000000,30.000000,82.0,8.250000,38.250000,26.000000,7.250000,1.000000
50%,218.500000,229.500000,97.500000,37.500000,82.0,16.500000,43.000000,28.000000,10.000000,1.000000
75%,231.500000,240.250000,101.000000,41.000000,82.0,23.750000,47.000000,32.500000,13.000000,3.000000
max,283.000000,262.000000,113.000000,49.000000,82.0,53.000000,53.000000,51.000000,18.000000,4.000000

In [43]:
stats_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 34 columns):
goalsAgainst                 30 non-null int64
goalsScored                  30 non-null int64
points                       30 non-null int64
divisionRank                 30 non-null object
divisionL10Rank              30 non-null object
divisionRoadRank             30 non-null object
divisionHomeRank             30 non-null object
conferenceRank               30 non-null object
conferenceL10Rank            30 non-null object
conferenceRoadRank           30 non-null object
conferenceHomeRank           30 non-null object
leagueRank                   30 non-null object
leagueL10Rank                30 non-null object
leagueRoadRank               30 non-null object
leagueHomeRank               30 non-null object
wildCardRank                 30 non-null object
row                          30 non-null int64
gamesPlayed                  30 non-null int64
clinchIndicator              16 non-null object
lastUpdated                  30 non-null object
team_id                      30 non-null int64
team_name                    30 non-null object
team_link                    30 non-null object
leagueRecord_wins            30 non-null int64
leagueRecord_losses          30 non-null int64
leagueRecord_ot              30 non-null int64
leagueRecord_type            30 non-null object
streak_streakType            30 non-null object
streak_streakNumber          30 non-null int64
streak_streakCode            30 non-null object
records_divisionRecords      30 non-null object
records_overallRecords       30 non-null object
records_conferenceRecords    30 non-null object
season                       30 non-null object
dtypes: int64(10), object(24)
memory usage: 8.1+ KB

In [55]:
# GET https://statsapi.web.nhl.com/api/v1/teams/5/stats

In [53]:
# Pour les series eliminatoires

# prenons alors
url = 'https://statsapi.web.nhl.com/api/v1/teams/4/stats?season=20032004'

r = requests.get(url)
json_data = r.json()
print(json_data.keys())

dict_keys(['copyright', 'stats'])

In [58]:
stats_all_raw = json_normalize(json_data["stats"], record_path='splits')

In [59]:
stats_all_raw.describe(include='all')

,stat.gamesPlayed,stat.wins,stat.losses,stat.ot,stat.pts,stat.ptPctg,stat.goalsPerGame,stat.goalsAgainstPerGame,stat.evGGARatio,stat.powerPlayPercentage,...,stat.faceOffsLost,stat.faceOffWinPercentage,stat.shootingPctg,stat.savePctg,team.id,team.name,team.link,stat.penaltyKillOpportunities,stat.savePctRank,stat.shootingPctRank
count,1.0,2,2,2.0,2.0,2,2,2.000,2.0000,2,...,2,2,1.0,1.000,2.0,2,2,1,1,1
unique,NaN,2,2,2.0,2.0,2,2,2.000,2.0000,2,...,2,2,NaN,NaN,NaN,1,1,1,1,1
top,NaN,12th,4th,6.0,101.0,7th,8th,2.268,1.2522,2nd,...,8th,13th,NaN,NaN,NaN,Philadelphia Flyers,/api/v1/teams/4,13th,12th,13th
freq,NaN,1,1,1.0,1.0,1,1,1.000,1.0000,1,...,1,1,NaN,NaN,NaN,2,2,1,1,1
mean,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
min,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
25%,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
50%,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
75%,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
max,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN

In [56]:
stats_all_raw.head()

,splits,type.displayName
0,"[{'stat': {'gamesPlayed': 82, 'wins': 40, 'los...",statsSingleSeason
1,"[{'stat': {'wins': '12th', 'losses': '4th', 'o...",regularSeasonStatRankings