In [1]:
import requests
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
url = 'https://statsapi.web.nhl.com/api/v1/statTypes'
r = requests.get(url)
json_data = r.json()
stats_type = pd.DataFrame(json_data)
stats_type

                     displayName
0                     yearByYear
1                 yearByYearRank
2             yearByYearPlayoffs
3         yearByYearPlayoffsRank
4            careerRegularSeason
5                 careerPlayoffs
6                        gameLog
7                 playoffGameLog
8                         vsTeam
9                 vsTeamPlayoffs
10                    vsDivision
11            vsDivisionPlayoffs
12                  vsConference
13          vsConferencePlayoffs
14                       byMonth
15               byMonthPlayoffs
16                   byDayOfWeek
17           byDayOfWeekPlayoffs
18                   homeAndAway
19           homeAndAwayPlayoffs
20                       winLoss
21               winLossPlayoffs
22           onPaceRegularSeason
23     regularSeasonStatRankings
24           playoffStatRankings
25          goalsByGameSituation
26  goalsByGameSituationPlayoffs
27             statsSingleSeason
28     statsSingleSeasonPlayoffs

In [3]:
# prenons alors
url = 'https://statsapi.web.nhl.com/api/v1/standings?season=20032004'
#url = 'https://statsapi.web.nhl.com/api/v1/teams?expand=teams.stats'
r = requests.get(url)
json_data = r.json()
print(json_data.keys())

dict_keys(['copyright', 'records'])

In [5]:
stats_all_raw = json_normalize(json_data["records"],record_path='teamRecords', sep = "_")
stats_all_raw.head()

,goalsAgainst,goalsScored,points,divisionRank,divisionL10Rank,divisionRoadRank,divisionHomeRank,conferenceRank,conferenceL10Rank,conferenceRoadRank,...,team_name,team_link,leagueRecord_wins,leagueRecord_losses,leagueRecord_ties,leagueRecord_ot,leagueRecord_type,streak_streakType,streak_streakNumber,streak_streakCode
0,186,229,101,1,4,2,2,3,10,5,...,Philadelphia Flyers,/api/v1/teams/4,40,21,15,6,league,ties,1,1
1,164,213,100,2,1,1,3,6,2,3,...,New Jersey Devils,/api/v1/teams/1,43,25,12,2,league,losses,1,L1
2,210,237,91,3,2,4,1,8,4,12,...,New York Islanders,/api/v1/teams/2,38,29,11,4,league,ties,1,1
3,250,206,69,4,5,3,4,13,15,11,...,New York Rangers,/api/v1/teams/3,27,40,7,8,league,wins,1,W1
4,303,190,58,5,3,5,5,15,7,14,...,Pittsburgh Penguins,/api/v1/teams/5,23,47,8,4,league,wins,2,W2

In [8]:
stats_all_raw.describe(include='all')

,goalsAgainst,goalsScored,points,divisionRank,divisionL10Rank,divisionRoadRank,divisionHomeRank,conferenceRank,conferenceL10Rank,conferenceRoadRank,...,team_name,team_link,leagueRecord_wins,leagueRecord_losses,leagueRecord_ties,leagueRecord_ot,leagueRecord_type,streak_streakType,streak_streakNumber,streak_streakCode
count,30.000000,30.000000,30.000000,30,30,30,30,30,30,30,...,30,30,30.000000,30.000000,30.000000,30.000000,30,30,30.000000,30
unique,NaN,NaN,NaN,5,5,5,5,15,15,15,...,30,30,NaN,NaN,NaN,NaN,1,4,NaN,8
top,NaN,NaN,NaN,1,1,1,1,1,1,1,...,Ottawa Senators,/api/v1/teams/22,NaN,NaN,NaN,NaN,league,wins,NaN,W1
freq,NaN,NaN,NaN,6,6,6,6,2,2,2,...,1,1,NaN,NaN,NaN,NaN,30,14,NaN,10
mean,210.600000,210.600000,86.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,35.333333,30.500000,11.333333,4.833333,NaN,NaN,1.366667,NaN
std,30.549677,23.928918,15.660368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.193072,8.003232,3.345953,2.001436,NaN,NaN,1.033352,NaN
min,164.000000,172.000000,58.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,20.000000,19.000000,7.000000,2.000000,NaN,NaN,1.000000,NaN
25%,189.000000,188.500000,76.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,28.000000,24.000000,8.500000,3.250000,NaN,NaN,1.000000,NaN
50%,206.000000,208.500000,91.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38.000000,29.000000,11.000000,4.000000,NaN,NaN,1.000000,NaN
75%,221.000000,227.000000,100.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,41.750000,35.000000,13.000000,6.000000,NaN,NaN,1.000000,NaN
max,303.000000,262.000000,109.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,48.000000,47.000000,20.000000,9.000000,NaN,NaN,6.000000,NaN

In [9]:
stats_all_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 30 columns):
goalsAgainst           30 non-null int64
goalsScored            30 non-null int64
points                 30 non-null int64
divisionRank           30 non-null object
divisionL10Rank        30 non-null object
divisionRoadRank       30 non-null object
divisionHomeRank       30 non-null object
conferenceRank         30 non-null object
conferenceL10Rank      30 non-null object
conferenceRoadRank     30 non-null object
conferenceHomeRank     30 non-null object
leagueRank             30 non-null object
leagueL10Rank          30 non-null object
leagueRoadRank         30 non-null object
leagueHomeRank         30 non-null object
wildCardRank           30 non-null object
gamesPlayed            30 non-null int64
clinchIndicator        16 non-null object
lastUpdated            30 non-null object
team_id                30 non-null int64
team_name              30 non-null object
team_link              30 non-null object
leagueRecord_wins      30 non-null int64
leagueRecord_losses    30 non-null int64
leagueRecord_ties      30 non-null int64
leagueRecord_ot        30 non-null int64
leagueRecord_type      30 non-null object
streak_streakType      30 non-null object
streak_streakNumber    30 non-null int64
streak_streakCode      30 non-null object
dtypes: int64(10), object(20)
memory usage: 7.2+ KB

In [55]:
# GET https://statsapi.web.nhl.com/api/v1/teams/5/stats

In [53]:
# Pour les series eliminatoires

# prenons alors
url = 'https://statsapi.web.nhl.com/api/v1/teams/4/stats?season=20032004'

r = requests.get(url)
json_data = r.json()
print(json_data.keys())

dict_keys(['copyright', 'stats'])

In [58]:
stats_all_raw = json_normalize(json_data["stats"], record_path='splits')

In [59]:
stats_all_raw.describe(include='all')

,stat.gamesPlayed,stat.wins,stat.losses,stat.ot,stat.pts,stat.ptPctg,stat.goalsPerGame,stat.goalsAgainstPerGame,stat.evGGARatio,stat.powerPlayPercentage,...,stat.faceOffsLost,stat.faceOffWinPercentage,stat.shootingPctg,stat.savePctg,team.id,team.name,team.link,stat.penaltyKillOpportunities,stat.savePctRank,stat.shootingPctRank
count,1.0,2,2,2.0,2.0,2,2,2.000,2.0000,2,...,2,2,1.0,1.000,2.0,2,2,1,1,1
unique,NaN,2,2,2.0,2.0,2,2,2.000,2.0000,2,...,2,2,NaN,NaN,NaN,1,1,1,1,1
top,NaN,12th,4th,6.0,101.0,7th,8th,2.268,1.2522,2nd,...,8th,13th,NaN,NaN,NaN,Philadelphia Flyers,/api/v1/teams/4,13th,12th,13th
freq,NaN,1,1,1.0,1.0,1,1,1.000,1.0000,1,...,1,1,NaN,NaN,NaN,2,2,1,1,1
mean,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
min,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
25%,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
50%,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
75%,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN
max,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,0.911,4.0,NaN,NaN,NaN,NaN,NaN

In [56]:
stats_all_raw.head()

,splits,type.displayName
0,"[{'stat': {'gamesPlayed': 82, 'wins': 40, 'los...",statsSingleSeason
1,"[{'stat': {'wins': '12th', 'losses': '4th', 'o...",regularSeasonStatRankings