## This is the first notebook that will be used to explore data.
### The doc about the NHL API can be found here : https://github.com/dword4/nhlapi

In [92]:
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import requests
import json

In [93]:
def flatten_json(y):
    
    """ Flattens the JSON """
    
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

def extractSeason(season=2016):
    """ Extract a particular season data (all teams) from NHL API """
    results = []
    seasonEnd = season+1
    url = 'https://statsapi.web.nhl.com/api/v1/standings?season={}{}'.format(season,seasonEnd)
    r = requests.get(url)
    season_data = r.json()
    season_data = json.dumps(season_data)  #serialize dictionary to json
    season_data = json.loads(season_data) #unserialize json to get dictionary

    for x in range(0, 4):
        flat = flatten_json(season_data["records"][x]["teamRecords"])
        flatten = json_normalize(season_data["records"][x]["teamRecords"])
        
        results.append(flatten)

    return results

In [94]:
test = extractSeason()
test[0].shape

(8, 30)

In [95]:
df = pd.concat(test[:])
df.shape

(30, 30)

In [96]:
list(df.columns.values)

[u'clinchIndicator',
 u'conferenceHomeRank',
 u'conferenceL10Rank',
 u'conferenceRank',
 u'conferenceRoadRank',
 u'divisionHomeRank',
 u'divisionL10Rank',
 u'divisionRank',
 u'divisionRoadRank',
 u'gamesPlayed',
 u'goalsAgainst',
 u'goalsScored',
 u'lastUpdated',
 u'leagueHomeRank',
 u'leagueL10Rank',
 u'leagueRank',
 u'leagueRecord.losses',
 u'leagueRecord.ot',
 u'leagueRecord.type',
 u'leagueRecord.wins',
 u'leagueRoadRank',
 u'points',
 u'row',
 u'streak.streakCode',
 u'streak.streakNumber',
 u'streak.streakType',
 u'team.id',
 u'team.link',
 u'team.name',
 u'wildCardRank']

In [97]:
df.describe()

,gamesPlayed,goalsAgainst,goalsScored,leagueRecord.losses,leagueRecord.ot,leagueRecord.wins,points,row,streak.streakNumber,team.id
count,30.0,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,82.0,226.766667,226.766667,31.366667,9.633333,41.000000,91.633333,37.700000,2.166667,17.733333
std,0.0,22.335503,26.631176,7.627009,2.870580,7.777066,15.134986,8.188091,1.913353,12.708762
min,82.0,182.000000,166.000000,19.000000,4.000000,22.000000,48.000000,21.000000,1.000000,1.000000
25%,82.0,212.000000,210.500000,26.250000,8.000000,35.250000,82.250000,32.250000,1.000000,8.250000
50%,82.0,225.500000,226.000000,29.500000,9.500000,41.500000,94.000000,39.000000,1.000000,16.500000
75%,82.0,242.000000,246.250000,35.750000,11.750000,46.750000,102.750000,44.000000,3.000000,23.750000
max,82.0,278.000000,282.000000,56.000000,15.000000,55.000000,118.000000,53.000000,8.000000,53.000000